[submodule "penny"]
	path = penny
	url = https://github.com/jmesmon/libpenny.git
[submodule "ccan"]
	path = ccan
	url = https://github.com/rustyrussell/ccan.git
[submodule "rbtree"]
	path = rbtree
	url = https://github.com/jmesmon/rbtree.git
